*{
    font-family: "roboto", sans-serif;
    margin: 0px;
    border: 0px;
}

.header-container{
    background-color: #1F2937;
    height: 600px;
}

.logo-container{
    display: flex;
    justify-content: left;
}
.logo{
    margin-top: 20px;
    margin-left: 150px;
}

.header-links-container {
    display: flex;
    justify-content: right;
    margin-top: -65px;
    margin-right: 150px;
    gap: 20px;
}

.header-links-container div {
    color: #E5E7EB;
}

.header-box{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-right: 150px;
    margin-left: 150px;
}

.header-box-text{
    flex: 1;
    color: #E5E7EB;
}

.header-box-text{
    flex: 1;
    color:#E5E7EB;
}

.images{
    display: flex;
    background-color: white;
    height: 300px;
}

.quote{
    display: flex;
    background-color: #E5E7EB;
    height: 300px;
}

.link{
    display: flex;
    background-color: white;
    height: 200px;
}

.footer{
    display: flex;
    background-color: #1F2937;
    height: 50px;
}